h1{
    color: rgb(64, 178, 207);
    background-color: blue;
}

button{
    color: darkviolet;
    background-color: #d2b48c;
}

p{
    color: white;
    background-color: rgba(111, 128, 144, 0.757);
}